<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-50602645-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                  gtag('js', new Date());

                  gtag('config', 'UA-50602645-1');
            </script>
        
        <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y9SVGCF1PR"></script>
            <script>
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments);}
              gtag('js', new Date());

              gtag('config', 'G-Y9SVGCF1PR');
            </script>

        <script>
            gtag('event','page_view', { // the page_view event is for web
                "org_id": "test",   // acc_code is your event parameter
            });
        </script>
    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">home</a>
            <a class="extra" href="/resume.pdf">resume</a>
            <a class="extra" href="//github.com/stewsmith">github</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Stew Smith<br />
                stewartLsmith12@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/stewsmith">github.com/stewsmith</a><br />
                <a href="https://twitter.com/stemstep">twitter.com/stemstep</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
